language: node_js
cache:
  directories:
  - node_modules
services:
- postgresql
script:
- NODE_ENV=test npm run build:database
- npm test
env:
- secure: "RvUkVi7iLQ/IC7l3ACwP9pwN2wL3/igOD+t2Ys6+tvQY8C2nr+GLU5dCxgf9FWDzEcN0iZd5SJ49fbLRw7yyAeCv6DbC/aSkr07ZLh81Dr/fgQxM6YmfaN+qU8bZ/KYMcqwM+svzHAcLWd9zEG/i6iCP7UEDaTzO4Tv8CkxITvY47wyU4VqcHmr7zwRqJyACqHPLIxszA6Ten1goM0zpGqoekcQLh1TdbtrE56kmMAl/MtifGGd5eaoqjch3CbfjUAR1nrXDZuJMy8kUlal7cRD5nhkmWAkbJ8kru3IO1Ppdppg/wfSlTHodophBkIbAvIFxERb2TvH1Irw5VBmlI8bX8kzCOq+Qw5zg+rOgqaxLQH1etU3AuSJPgaTh8QlEYpfZ0II/7tkJCvrvNyrBONq4qXIW733Pqe1YmIcdGsmu6cAJoZ2voP3uinIaIBIg3zJbZ6knapsbe1KQMKP61yLhfvBmikMq3SRCVaXzQgVkHhGXp5EOD+134VSdQyxvwPwj9d3yFtw+ST4Z1ahT3chRcxfCdodS69wpRbDIax9jq4z7DDrPxNNfWdZaQPHnQiBOM7t6MCfy+XUDlE7kDO+JH5Mr/3mMy/SCMCvgF6DBE0BIBVRatPxd54t5bN57g/JGrY5Dle1LyMFbHiB7KxZ0ETl0IGDVbgTDA6BYO3g="
deploy:
  provider: heroku
  skip_cleanup: true
  api_key:
    secure: "XOlvvxjSGZ/0yN8zQWZjRHIZ3Kp1w9MdRNvWIbV0+d20QA7EpxXQs++JYh3donT1iCM5nT7qJFrsW2lmHecT4TxyZ8x0ouANxaAovQ/pjUeCEU2t4RYHBqTQA7G3ocCESdMMso1uJMcn/tHp/Jlw0fYNm0A1UaJIIp+Qq9Ty83CNbRLCzuFi6DPux9/AtXKpX4wPdBN5OiOcYEX8kTgAx4XaOA5qvBVk+GHoB2UZNlqPGbUBh/bG2fYK2j0z1Gq/lNahLCi3ic2CiwPhU50qe1qznZDJuplBUK0ej8oOXc8jheRtvE4mo/TTTVMr8imbfU6WDA14hV6fhLnaf0eriK+EoWY0NJ0UUCdveAsSdPg6+lHda8+4RVZh9202vLKhGbCYX994lDd23loQkZYltkNyRSH4kR8IDCnxTpHPIC0MOgPbO5p3fHxvTLpIRD7ED7vp0Yl2ORELsfFQfA6WshMuSdjX9CctoWXSs4eOH3mlA29h8PYkTfIDwCzY7hGGyg38Nfo0Z630HiS+V8h1pUpc7BufJunouRxdmb+3iKiL6do5gbwL+DGkiRmYAR33gyQFYn4PPufuZ8AyLxXESLlMJDU/dXi2poXu65JiQI7WMQJYvk5NKAsfarX52sZz3eyuuvl1aAyZSuKg9JudGEQdfOMd4EB9s99eTkUYFIU="
